.gradle
build
gradle
.idea
!.idea/runConfigurations/*.xml
gradlew
gradlew.bat
out

gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

*.class
*.log
*.ctxt
.mtj.tmp/

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
